body {
	background-image: url('back2.jpg');
	background-position: center;
	background-repeat: repeat;
	background-attachment: scroll;
}

h1 {text-align: center;}

h2,h3,h4,h5,h6 {
	text-align: 
	left;color: blue;
}

p {
	text-align: left;
	color: black;
	font-family: arial;
	font-weight: normal;
	font-style: normal;
}

pre {
	font-family: arial;
	color: black;
}

abbr {color: blue;}

blockquote {font-style: italic;}

a {color: blue;}

img {
	width: 200;
	height: 200;
}

